.root {
    -fx-font-size: 14px;
    -fx-background-color: rgb(191, 196, 159);
}
.button{
    -fx-background-color: #f3ffa8;
    -fx-border-color: #a4b616;

}

.button:pressed{
    -fx-background-color: #e1ff00;
    -fx-border-color: #e6ff1f;

}

.radio-button .radio{
    -fx-border-width: 1px;
    -fx-background-color: #f3ffa8;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
    -fx-background-insets: 0;
}



.radio-button .dot {
    -fx-background-color: #546c4b;
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.radio-button .dot:selected {
    -fx-background-color: #4cf10e;
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

/*quan estem a un textarea o field seleccionat*/
.text-field:focused, .text-area:focused {
    -fx-background-color:
            rgb(230, 255, 31),
            rgb(50, 56, 6),
            rgb(84, 108, 75);
}