.default-color0.chart-pie { -fx-pie-color: #ffd700; }
.default-color1.chart-pie { -fx-pie-color: #c65450; }
.default-color2.chart-pie { -fx-pie-color: #499b54; }
.default-color3.chart-pie { -fx-pie-color: #3e859f; }
.default-color4.chart-pie { -fx-pie-color: #b05b2e; }
.default-color5.chart-pie { -fx-pie-color: #d27ff8; }
.default-color6.chart-pie { -fx-pie-color: #842768; }
.default-color7.chart-pie { -fx-pie-color: #9b0202; }
.default-color8.chart-pie { -fx-pie-color: #51d39b; }
.default-color9.chart-pie { -fx-pie-color: #509130; }